.main {
    padding: 0.8rem;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    /* background-color: #9DB2BF; */
    background: linear-gradient(to bottom,#8ea8b8 80%, white );
    opacity: 80%;
}
@media screen and (max-width: 600px){
  .main{
    padding: 0.2rem;
  }
}
