body{
    background-color: #526D82;
}
.hero{
    background-image: url('../assets/backgroundf.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vw;
    width: 100%;
    position: absolute;
    /* border: 1px solid black; */
}
.inner{
    /* border: 1px solid black; */
    width: 100%;
    display: block;
    position:absolute;
    margin-top: 50px;
    color: white;
    font-weight: 700;
}
.signup{
    font-weight: 700;
    border:2px solid #DDE6ED;
    color: #DDE6ED;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.signup:hover{
    color: white;
    font-weight: 700;
    background-color: #27374D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner div p{
    font-size: 2vw;
}