body{
    /* height: 100%; */
    background-image: linear-gradient(to right, rgb(126, 126, 223), rgb(233, 223, 223));
    background-position: bottom right, left, right;
}
.redColor{
    color: #006AFF;
}
.fontHead{
    font-size: 50px;
}
.fontBold{
    font-weight: 800;
}
.main{
    font-family: 'Belanosima', sans-serif;
    color: rgb(218, 62, 111);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.logoBox{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.logo{
    margin: 30px;
    height: 20vw;
    width: 50vh;
   
}
@media screen and (max-width:900px){
    .logo{
        height: 200px;
        width: 200px;
    }
}